.DS_Store
*.class
*.ear
*.log
*.pid
*.seed
*.terraform
*.war
*tfstate*

.gradle
.idea/compiler.xml
.idea/copyright
.idea/gradle.xml
.idea/gradle_extensions.xml
.idea/libraries
.idea/misc.xml
.idea/modules
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/shelf
.idea/.name
.idea/codeStyles
.idea/dictionaries
.idea/jsLibraryMappings.xml
.idea/kotlinc.xml

bin
build
hs_err_pid*
logs
node_modules
pids
server/storage_files
stats.json
